* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
    font-family: 'Poppins', serif;
    font-size: 14px;
    background-image: url(fondo-cute.jpg); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
    background-position: center; /* Centra la imagen */
}


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 350px;
    margin-bottom: 20px;
    min-width: 350px;
}

.container .btn {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.btn a {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    background: #f91414;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);
    font-size: 20px;
    margin: 0px 10px;
}
.btn a:hover{
    background: #8d0000;
}